@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-header button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}




.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: #fff;
  border-bottom: 1px solid #dee2e6;
}

.monthSelect {
  margin: 0 5px;
  padding-right: 4px;
  padding-left: 4px;
  padding: 3px;
  font-size: 16px;
  /* background-color: #007bff; */
  color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 2rem;
  border: none;
}
.react-datepicker__month--dropdown{
  background-color: white;
}
.react-datepicker__header{
background-color: white;
}
.react-datepicker{
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
box-shadow: 0 2px 8px rgba(0, 0,0, 0.2);
}


.react-datepicker__day-names{
 
 
  background-color: rgba(255, 255, 255, 0.87);
}
.react-datepicker__month--selected{
  background-color:#2161c3 ;
  padding: 1rem;
  border-radius: 0;
}
.react-datepicker__day--selected{
  background-color:#2161c3 ;
}
.react-datepicker__day--names{
  background-color:#007bff ;
}
.react-datepicker__year--selected{
  background-color:#007bff ;
  color: black;
}







@keyframes rotate {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 0.75rem;
  color: black;
  /* font-family: "Inter,sans-serif"; */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 1.2rem;
  max-width: 35rem;
  color: black;
}

a {
  text-decoration: none;
  list-style-type: none;
  /* color:  rgb(241 99 49 / var(--tw-text-opacity)); */
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

 

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}


body {
  line-height: 1.5;
  color: black;
  font-size: 0.875rem;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media screen and (max-width:634px) {
  
  .profile{
    background: #f9f9f9;
  
  }
}
.forget,.signup,
.signBg,.forgotbg,.profile{
 
    height: 100dvh;
    background:
      url(/images/sign-bg.png) center/cover no-repeat scroll;
  
}
.signupBg{
    background:
      url(/images/sign-bg.png) center/cover no-repeat scroll; 
}


.option::-webkit-scrollbar {
  display: none;
   -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.hidden {
  display: none;
}

.slide-in {
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.load::before{
content: "";
position: absolute;
border-top: 3px solid #747bff;
border-left: 3px solid #747bff;
border-right: 3px solid #8f91c5;
border-bottom: 3px solid #d1d3f1;
width: 100%;
height: 100%;
border-radius: 50%;
animation: rotate 2s linear infinite;
/* border-top-style: 3rem; */
}

@keyframes rotate {
  0% {
    transform: rotate(1turn);
    /* box-shadow: 3px 5px 2px #747bff; */

  }
}